<div class="row">
    <div class="mx-auto text-left w-50">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button class="btn btn-sm btn-warning text-light m-3">{{ button_label|default('Guardar') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>