{% extends 'base.html.twig' %}

{% block title %}Sistema de Autenticación.{% endblock %}

{% block body %}
    {% if login is defined %}
        {% if login == 1 %}
            {% if mensajes_sistema is defined %}
                {% if mensajes_sistema is not null %}
                    <div id='mensajeSistema' class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ mensajes_sistema }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="text-center" style="margin-top:60px;">
                <div class="login row justify-content-center">
                    <div class="card" style="width: 22rem;">
                        <div class=' text-center' id="headerCard">
                            <i class="fas fa-address-card fa-10x" style="color:tomato;"></i>
                            <h1>Credenciales</h1>
                            
                            <span class="help-block">Digita tus credenciales para ingresar al sistema.</span>
                        </div>
                      <div class="card-body">
                         {{ form_start(formlogin) }}
                          {{ form_widget(formlogin) }}
                          <br>
                          <div class="text-center">
                            <input type="submit" class='btn btn-primary' value="Autenticar" />
                          </div>
                        {{ form_end(formlogin) }}
                      </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
